
/* Estilos generales */

* {
    font-family: "Bricolage Grotesque", serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end; 
    gap: 10px; 
}

nav ul li {
    display: inline;
}

body {
    background-color: white;
    margin: 20px auto;
    width: 70%;
}


/* Estilos tipográficos */

h1 {
    font-family: "Instrument Serif", serif;
    font-weight: bolder;
    font-size: 54px;
    margin: 20px 0;
}

h2 {
    font-family: "Instrument Serif", serif;
    font-weight: bolder;
    font-size: 32px;
    margin: 20px 0;
}

h3 {
    margin-right: 20px;
}

p {
    font-size: 20px;
    margin: 20px 0;
}


a {
    font-family: "Bricolage Grotesque", serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}



/* Estilos header */

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(255, 47, 47);
    padding: 20px;
    border-radius: 15px;
}

nav {
    text-align: center; 
}

.logo_header {
    height: 30px; /* Este número es puro ojímetro */
    filter: invert();
}

.hero_img {
    width: 100%;
}

/* Estilos footer */

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    color: white;
}

footer a {
    color: white;
}

/* Estilos categorías */

.categorias {
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
}

.categorias a {
    flex: 1;
}

/* Estilos botones */

.action_button {
    background-color: rgb(255, 47, 47);
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 18px;
}

.action_button:hover {
    background-color: rgb(255, 76, 76);
}

.dropdown button {
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Bricolage Grotesque", serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 0;
}

/* Estilos páginas */

.img_texto {
    display: flex; 
}

.img_articulo {
    flex: 1; 
    max-width: 40%;
    border-radius: 100%;
}

.txt_articulo {
    flex: 1; 
    padding-left: 50px; /
}



/* Media Kuerits */

@media (max-width: 1200px) {
    .action_button {
        font-size: 16px;
    }
}


@media (max-width: 1000px) {

    body {
        background-color: white;
        margin: 20px auto;
        width: 80%;
    }

    h1 {
        font-size: 46px;
    }

    a {
        font-size: 14px;
    }

    .dropdown button {
        font-size: 14px;
    }

    .categorias {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 2px;
    }

    .action_button {
        width: 100%;  
        display: block;  
        text-align: center;
        font-size: 18px; 
    }

    footer h3 {
        font-size: 18px;
    }

    .img_texto {
        display: inline-block;
    }

    .img_articulo {
        width: auto;
        max-width: 60%; 
        display: block; 
        margin: 0 auto; 
    }
}



/* Elementos Bootstrao */

.breadcrumb {
    padding: 10px 0;
}
