// COLORES
$primary-color: rgb(255, 47, 47);
$secondary-color: rgb(12, 12, 12);
$color-texto: black;
$texto-blanco: white;

// TIPOGRAFÍAS
$fuente-principal: "Bricolage Grotesque", serif;
$fuente-secundaria: "Instrument Serif", serif;

// OTROS 
$border-radius: 15px;
