@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  @keyframes subir {
    from {
      transform: translateY(0px);  
    }
    to {
      transform: translateY(-10px);
    }
  }