footer {
    @include flexbox(space-between, center);
    background-color: $secondary-color;
    margin-top: 40px;
    padding: 30px;
    border-radius: $border-radius;
    color: $texto-blanco;

    a {
        color: $texto-blanco;
        padding-left: 10px;
    }

    .redsocial {
        display: inline-block;
        transition: transform 0.5s ease;
      
        &:hover {
          transform: scale(1.1); // Esto intenté hacerlo como animación en "_animations" pero no pude hacerlo funcionar, así que se quedó acá   
        }
    }
}
